<!DOCTYPE html>
<html>
  <head>
    <title>Redux</title>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <input hidden="true" id="payload" value="<%= payload %>"/>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
</html>
