<!DOCTYPE html>
<html>
  <head>
    <title>Isomorphic Local CSS</title>
  </head>
  <body>
    <div id="app"><%- html %></div>
    <script type="text/javascript" src="/scripts/client.js"></script>
  </body>
</html>
